/* styles for the main page */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.movie-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
}

.movie-item img {
    width: 80px;
    margin-right: 10px;
    border-radius: 4px;
}

.movie-item p {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.movie-item:hover {
    background-color: #f5f5f5;
}

#pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pagination button {
    padding: 8px 16px;
    margin: 0 4px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

#pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

/* styles for the movie details page */

#movieDetailsPage {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

#movieDetailsPage .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#movieDetailsPage h1 {
    margin-bottom: 10px;
    color: #333;
}

#movieDetailsPage .movie-details p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

#userRating label,
#userComment label {
    font-size: 16px;
    color: #333;
}

#userRating select,
#userComment textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#userRating button,
#userComment button {
    padding: 8px 16px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#userRating button:hover,
#userComment button:hover {
    background-color: #0056b3;
}

#backToList {
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#backToList:hover {
    background-color: #1a1a1a;
}
